.navbar {
    background-color: cornflowerblue;
}

.btn-icon {
    width: 32px;
}

.btn-label {
    text-decoration: none;
}

p {
    font-size: 1.3rem;
}

.img-fluid {
    border-radius: 15px;
}

.game-section {}